h1 {
	font-family: 'open_sansregular';
	font-size: 60px;
	text-align: center;
	padding-top: 80px;
	color: #965975 ;

}

h2 {
	font-family: 'open_sansregular';
	text-align: center;
	color: #828282 ;
}

body {
	background-image: url("background.jpg");
}