h1 {
	font-family: 'open_sansregular';
	font-size: 60px;
	text-align: center;
	padding-top: 80px;
	color: #965975 ;

}

h2 {
	font-family: 'open_sansregular';
	text-align: center;
	color: #828282 ;
}

body {
	background-image: url("background.jpg");
}

.img-responsive {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #F0800A;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.logo:hover {
	text-decoration:none;
	}